*~
/.metadata/*
/goalset/build/*
/goalset/bin/*
/usarsim_inf/bin/*
/usarsim_inf/build/*
/usarsim_twolink_arm_nav/build/*
/KR60_arm_navigation/build/*
/usarsim_joint_gui/build/*
/usarsim_joint_gui/bin/*
/usarsim_twolink_arm_nav/build/*
/usarsim_set_goal/build/*
/usarsim_set_goal/bin/*
/uc2urdf/bin/uc2urdf
/uc2urdf/build/*
/uc2urdf/doc/html/*
/uc2urdf/doc/latex/*
/uc2urdf/obj/*.o