<launch>
    <include file="$(find KR60_arm_navigation)/launch/KR60_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="KR60_KR60Arm_kinematics">
        <param name="group" type="string" value="KR60Arm" />
        <param name="KR60Arm/root_name" type="string" value="base_link" />
        <param name="KR60Arm/tip_name" type="string" value="MESH_link6" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
